* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "游明朝","Yu Mincho";
  font-weight: bold;
  background-color: black;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  user-select: none;
}

body::-webkit-scrollbar{
  display:none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.top {
  background-image: url("../src/img/top.png");
  background-size: cover;
  border-top: 0.5vw solid rgba(68, 68, 68, 0.39);
  border-bottom: 0.5vw solid rgba(68, 68, 68, 0.39);
  display: flex;
  position: fixed;
  justify-content: space-between;
  font-size: 4vw;
  width: 100vw;
  opacity: 0.75;
  top: 0;
  padding: 0 5vw;
}

button {
  font-family: "游明朝","Yu Mincho";
  font-weight: bold;
  text-align: center;
  width: 20vw;
  margin-left: auto;
  font-size: 2vw;
  margin: 1vw;
  border-radius: 2vw;
  cursor: pointer;
}


#counts {
  display: flex;
  min-width: 12vw;
  justify-content: flex-end;
}

.section {
  width: 100%;
  color: white;
  margin: 0 auto;
}

section {
  background: linear-gradient(
  rgba(255, 255, 255, 0.856),
  rgba(230, 230, 230, 0.822),
  rgba(255, 255, 255, 0.856),
  rgba(230, 230, 230, 0.822),
  rgba(255, 255, 255, 0.856));
}
.container {
  background-blend-mode:lighten;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  border-radius: 1%;
}

.light-m {
  margin: 0 -3.9vw;
  display: flex;
}

.left-m {
  margin: 0 4.8vw;
  display: flex;
}

.light-d {
  margin: 0 -1.3vw;
  display: flex;
}

.left-d {
  margin: 0 1.6vw;
  display: flex;
}

.desktop {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  margin: -0.13vw 0.35vw -0.13vw 0.35vw;
  border: 0.5px solid rgba(169, 169, 169, 0.041);
}

.mobile {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin: -0.5vw 0.69vw -0.5vw 0.69vw;
  border: 0.5px solid rgba(169, 169, 169, 0.041);
}

.alive {
  cursor: pointer;
}

img:active {
  pointer-events: active;
}

.open {
  border: 0.2vw solid black;
  text-align: center;
  width: 20vw;
  font-size: 2vw;
  margin: 1vw;
  border-radius: 2vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup {
  display: none;
}
.gray {
  display: none;
}
#popup:checked + .gray {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
}
.window {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 3vw;
  height: 25vh;
  width: 40vw;
  background-color: #fff;
  border-radius: 2vw;
  align-items: center;
  transform: translate(-50%, -50%);
  font-size: 2vh;
}
.title {
  color: #e83015;
  margin-bottom: 2vw;
  font-size: 2vh;
  padding-bottom: 1vw;
  border-bottom: #e83015 0.2vw solid;
}
.window p {
  font-size: 1.5vw;
}
.close {
  position: absolute;
  color: #fff;
  background-color: #e83015;
  text-align: center;
  width: 3vw;
  height: 2.5vw;
  border-radius: 1vw;
  top: 1vw;
  right: 1vw;
  cursor: pointer;
}
